.carousel-item {
    // width: 70%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    // max-width: 600px;
    img {
        height: 100%;
        object-fit: cover; /* Les images couvrent toute la zone du carrousel sans déformation */
    }
}
#carouselExampleIndicators{
    width: 100%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);

}
.carousel-control-prev{
    // left: 15%;
    color: black;
    background-color: rgb(0, 0, 0);
}
.carousel-control-next{
    // right: 15%;
    color: black;
    background-color: rgb(0, 0, 0);
}