<div id="container" class="container-fluid row"> <!-- Container du carrousel ainsi que des images de Rick et Morty -->

    <img id="MortyDétouré" src="../../../assets/mortyDétouré.png" alt="photo de Morty détourée">

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> <!-- Carrousel -->
    <div class="carousel-indicators"> <!-- Indicateurs du carrousel avec les différentes slides -->
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner"> <!-- Contenu du carrousel avec photos-->
        <div class="carousel-item">
            <div class="carousel-item active">
                <img src="assets/image1.png" class="d-block w-100" alt="Image 1 du carroussel (photo de Rick et de Morty)">
            </div>
            <div class="carousel-item">
                <img src="assets/image2.png" class="d-block w-100" alt="Image 2 du carroussel (dessin de Rick et de Morty)">
            </div>
            <img src="assets/image3.png" class="d-block w-100" alt="Image 3 du carroussel (photo de Rick)">
        </div>
        <div class="carousel-item">
            <img src="assets/image4.png" class="d-block w-100" alt="Image 4 du carroussel (photo de Morty)">
        </div>
        <div class="carousel-item">
            <img src="assets/image5.png" class="d-block w-100" alt="Image 5 du carroussel (photo de Rick)">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class=""></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class=""></span>
        </button>
    </div>
</div>

    <img id="RickDétouré" src="../../../assets/rickdétouré.png" alt="">

</div>  