.carousel-item {
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    img {
        height: 100%;
        object-fit: cover; /* Les images couvrent toute la zone du carrousel sans déformation */
    }
}
#carouselExampleIndicators{
    width: 100%;
    max-width: 600px;
    :hover .carousel-control-prev, :hover .carousel-control-next{
        background-color: #00000088;
    }
}
#MortyDétouré{
    width: 70%;
    height: auto;
    margin: auto;
}
#RickDétouré{
    width: 80%;
    height: auto;
    margin: auto;
}
#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

// media querries pour le responsive
@media (max-width: 600px) {
    #container{
        grid-template-columns: repeat(1, 1fr);
    }
    #carouselExampleIndicators{
        max-width: 100%;
    }
    #RickDétouré{
        width: 100%;
        display: none;
    }
    #MortyDétouré{
        width: 100%;
        display: none;
    }
    
}